<!-- payment-form.component.html -->
<form (ngSubmit)="makePayment()">
  <mat-form-field>
    <mat-label>Loan</mat-label>
    <mat-select [(value)]="selectedLoanId" required>
      <mat-option *ngFor="let loan of loans" [value]="loan.id">
        {{ loan.borrowerName }} - {{ loan.amount }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="amount" name="amount" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Make Payment</button>
</form>
